/* Body */
body {
    background-color: black;
}

/*Font*/
h1 {
    font-family: Bayshore;
    color: #ed1f6b;
    font-size: 500%;
    padding-top: 15px;
    padding-left: 15px;
}

h2 {
    font-family: Bayshore;
    color: #ed1f6b;
    font-size: 500%;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: Urbane;
    font-size: 100%;
    color: white;
}

h4 {
    text-align: center;
    color: #0ad2fe;
    font-family: urbane;
    font-size: 180%;
}

h5 {
    color: black;
    font-family: urbane;
    font-size: 100%;
    text-align: center;
}

h6 {
    text-align: center;
    color: white;
    font-family: urbane;
    font-size: 180%;
}

p {
    color: white;
    font-family: urbane;
    font-size: 100%;
    text-align: center;
}

/* Navigation */
nav, .nav2 {
    font-family: Urbane;
    font-size: 150%;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    padding-right: 20px;
    padding-left: 10px;
}

nav a:hover {
    color: #0ad2fe;
    border-left: solid #ed1f6b 3px;
}

a {
    text-decoration: none;
}

/* Links */
* { 
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.insta:hover {
    font-size: 125%;
}

h5:hover {
    color: #ed1f6b;
}

h6:hover {
    color: #0ad2fe;
}

.center {
    display: flex;
    justify-content: center;
}

iframe {
  margin-bottom: 40px;
}

/* Pictures */
.pizza {
    margin-top: 40px;
    margin-bottom: 40px;
}

#bio {
    text-align: center;
}

#midnight {
    text-align: center;
}

.midnight {
    display: block;
    border: solid #0ad2fe 3px;
    margin-left: auto;
    margin-right: auto;
}

.bar {
    float: right;
    margin: 10px 0px 10px 10px;
    border: solid #0ad2fe 3px;
}

.blue {
    float: left;
    margin: 10px 10px 20px 0px;
    border: solid #0ad2fe 3px;
    width: 50%;
}

.bd-example {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Albums */
.snip1573 {
    background-color: #0ad2fe;
    display: inline-block;
    font-family: urbane;
    font-size: 16px;
    margin: 10px;
    max-width: 160px;
    min-width: 160px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .snip1573:before,
  .snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #0ad2fe;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
  }
  
  .snip1573:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
  }
  
  .snip1573:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
  }
  
  .snip1573 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }
  
  .snip1573 figcaption {
    top: 35%;
    left: 30%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
  }
  
  .snip1573 h3 {
    background-color: #ed1f6b;
    border: 2px solid #fff;
    width: 160px;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 10px 30px;
    font-family: urbane;
  }
  
  .snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .snip1573:hover > img,
  .snip1573.hover > img {
    opacity: 0.5;
  }
  
  .snip1573:hover:before,
  .snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
  }
  
  .snip1573:hover:after,
  .snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
  }
  
  .snip1573:hover figcaption,
  .snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

.albums {
    text-align: center;
}

/* Biographies */
/* Float columns side by side */
.columns {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 40px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .rows {
    margin: 0 -5px;
    padding-top: 10px;
  }
  
  /* Clear floats after the columns */
  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  
  figure.snip0019 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    background: white;
    text-align: center;
  }
  figure.snip0019 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0019 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0019 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  figure.snip0019 figcaption > div {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
    position: relative;
  }
  figure.snip0019 figcaption::before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 2px;
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0019 h2,
  figure.snip0019 p, figure.snip0019 h1, figure.snip0019 h6, 
  figure.snip0019 h5, figure.snip0019 h4 {
    margin: 0;
    padding: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
  }
  figure.snip0019 h2, figure.snip0019 h1, figure.snip0019 h6, 
  figure.snip0019 h5, figure.snip0019 h4 {
    text-align: right;
    display: inline-block;
    word-spacing: -0.1em;
    font-weight: 300;
  
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(50%, 0%, 0);
    transform: translate3d(50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0019 h2 span, figure.snip0019 h1 span, figure.snip0019 h6 span, 
  figure.snip0019 h5 span, figure.snip0019 h4 span {
    font-weight: 800;
  }
  figure.snip0019 p {
    display: block;
    bottom: 0;
    text-align: left;
    font-weight: 300;
    top: 0%;
    color: #000;
    background: #ffffff;
    -webkit-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-50%, 0%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  figure.snip0019 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0019:hover img {
    opacity: 0.7;
  }
  figure.snip0019:hover figcaption h2,
  figure.snip0019:hover figcaption p, figure.snip0019:hover figcaption h1, 
  figure.snip0019:hover figcaption h6, figure.snip0019:hover figcaption h5,
  figure.snip0019:hover figcaption h4 {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip0019:hover figcaption h2, figure.snip0019:hover figcaption h1, 
  figure.snip0019:hover figcaption h6, figure.snip0019:hover figcaption h5,
  figure.snip0019:hover figcaption h4 {
    opacity: 1;
  }
  figure.snip0019:hover figcaption p {
    opacity: 1;
  }
  figure.snip0019:hover figcaption::before {
    background: #ffffff;
    top: 0px;
    bottom: 0px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

/* Calendar */
.calendar {
    display: flex;
    flex-flow: column;
}
.calendar .header .month-year {
    font-size: 300%;
    font-weight: bold;
    font-family: urbane;
    color: white;
    padding: 20px 0;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
    background-color: white;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #ed1f6b;
    padding: 20px;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    color: white;
    color: #fff;
    background-color: #ed1f6b;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 15px;
    font-weight: bold;
    color: #ed1f6b;
    cursor: pointer;
    min-height: 100px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #0ad2fe;
    color: #fff;
    word-wrap: break-word;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
}

/* Login form */
.submit {
    background-color: #ed1f6b;
    font-family: urbane;
    font-size: 100%;
    color: white;
    padding: 10px;
}

.submit:hover {
    background-color: #bd1855;
}

.login {
    border: solid #ed1f6b 3px;
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -40px;
}

.form--inline {
    border: solid #ed1f6b 3px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    margin-right: 20px;
}

.signup-form-form {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}


@media screen and (max-width: 1300px) {
    .row {
        display: block;
    }
    .column {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    nav, .nav2 {
        font-size: 100%;
    }

    .midnight {
        width: 100%;
    }

    .login {
        width: 100%;
    }

    .form--inline {
        width: 100%;
    }

    .columns {
        width: 100%;
    }

    h2 {
        font-size: 300%;
    }

    p {
        font-size: 85%;
    }

    h4 {
        font-size: 100%;
    }

    .bar, .blue {
        width: 100%;
    }
}